@model webGestionvente2.viewmodele.CreateRoleViewModel



<div class="row loginForm">
    <div class="col-md-8 col-md-offset-2">
       
        <form asp-controller="Admin" asp-action="CreateRole" method="post" class="form-horizontal" role="form">
            <h4>ajouter un role</h4>
            <hr />
            <div class="form-group">
                <label asp-for="RoleName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group pull-right formPullRightButton">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success " value="Ajouter Role" />
                </div>
            </div>
        </form>
    </div>
</div>